<div class="col-sm-3 mr-3">
    <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <br>
        <input type="file" class="text-center center-block file-upload">
    </div>
    </hr>
    <br>
</div>
<form class="form col-6" action="#" method="">
    <div class="form-group">
        <div class="">
            <label for="first_name">
                <h5>Full Name</h5>
            </label>
            <input type="text" class="form-control" name="full_name" id="full_name" placeholder="first name" title="enter your full name.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="last_name">
                <h5>Email Address</h5>
            </label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email" title="enter your email if any.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="phone">
                <h5>Phone</h5>
            </label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
        </div>
    </div>
    <label for="inputGroupSelect01">
        <h5>Role</h5>
    </label>
    <div class="input-group mb-3">
        <select class="custom-select" id="role">
            <option selected>Role</option>
            <option value="1">Owner</option>
            <option value="2">Manager</option>
            <option value="3">Sales</option>
        </select>
    </div>
    <div style="display: none" class="form-group">
        <div class="">
            <label for="userName">
                <h5>User Name</h5>
            </label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="User Name">
        </div>
    </div>
    <div style="display: none" class="form-group">
        <div class="">
            <label for="password">
                <h5>password</h5>
            </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>
    </div>
    <button class="btn btn-info" id="submit_button" type="button" onclick="" style="display: none">Create</button>
</form>