<div class="col-sm-3 mr-3">
    <div class="text-center">
        <img id="image" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <br>
        <form style="display: none" id="IMGForm">
            <input name="fileToUpload" id="fileToUpload" type="file" class="text-center center-block file-upload" accept="image/png, image/jpeg">
            <input id="imageUploadFileName" name="filename" type="hidden">
        </form>
    </div>
    <hr>
    <br>
</div>
<form class="form col-6" action="#" method="">
    <div class="form-group">
        <div class="">
            <label for="course_name">
                <h5>Course Name</h5>
            </label>
            <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course name" title="enter course name.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="Description">
                <h5>Description</h5>
            </label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description" title="enter your Description if any.">
        </div>
    </div>


    <div class="form-group">
        <div class="">
            <label for="Students">
                <h5>Students</h5>
            </label>
            <select id="students-select" name="students[]" class="form-control" multiple="multiple">

            </select>
        </div>
    </div>


    <button class="btn btn-info" id="submit_button" type="button" style="display: none">Create</button>
    <div id="formError">Please fill in all required fields!</div>


</form>