<div class="col-sm-3 mr-3">
    <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <br>
        <input type="file" class="text-center center-block file-upload">
    </div>
    </hr>
    <br>
</div>
<form class="form col-6" action="#" method="">
    <div class="form-group">
        <div class="">
            <label for="course_name">
                <h5>Course Name</h5>
            </label>
            <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course name" title="enter course name.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="Description">
                <h5>Description</h5>
            </label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description" title="enter your Description if any.">
        </div>
    </div>
    <button class="btn btn-info" id="submit_button" type="button" style="display: none" onclick="createCourse()">Create</button>
</form>