<div class="SC_Containers col-6" id="studentCol">
    <div class="headlines row m-3">
        <h5 class="col-9">Students</h5>
        <span class="">
            <i class="fas fa-user-plus"></i>
        </span>
    </div>
    <div class="" id="studentsContainer">

    </div>
</div>
<div class="SC_Containers col-6" id="courseCol">
    <div class="row headlines m-3">
        <h5 class="col-9">Courses</h5>
        <span class="">
            <i class="fas fa-plus-circle"></i>
        </span>
    </div>
    <div class="" id="coursesContainer">

    </div>
</div>