<div class="col-sm-3 mr-3">
    <div class="text-center">
        <img id="image" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
            alt="avatar">
        <br>
        <form id="IMGForm">
            <input name="fileToUpload" id="fileToUpload" type="file" class="text-center center-block file-upload"
                accept="image/png, image/jpeg">
            <input id="imageUploadFileName" name="filename" type="hidden">
        </form>
    </div>
    <hr>
    <br>
</div>
<form class="form col-6" action="#" method="">
    <div class="form-group">
        <div class="">
            <label for="first_name">
                <h5>Full Name</h5>
            </label>
            <input type="text" class="form-control" name="full_name" id="full_name" placeholder="first name" title="enter your full name.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="last_name">
                <h5>Email Address</h5>
            </label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email" title="enter your email if any.">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <label for="phone">
                <h5>Phone</h5>
            </label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <label for="Courses">
                <h5>Courses</h5>
            </label>
            <select id="courses-select" name="courses[]" class="form-control" multiple="multiple">

            </select>
        </div>
    </div>

    <button class="btn btn-info" id="submit_button" type="button" onclick="" style="display: none">Create</button>
</form>